@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Geologica:wght@600&display=swap');

.logo {
    display: flex;
    width: 120px;
    height: 120px;
}

header, main {
    font-family:'Bruno Ace SC', cursive;;
}

.banner {
    background-color: lightgreen;
    text-decoration: underline;
    padding: 10px 20px;
    font-size: medium;
    text-align: center;
    border: 3px solid black;
}

.img-principal {
    max-width: 100%;
    max-height: min-content;
    height: auto;
    width: 100%;
    border-radius:30px;
    border: solid 1px green;
    margin: 10px 0px 0px 0px;
}

.card-title {
    text-align: center;
    font-weight: 100%;
    font-family:'Bruno Ace SC', cursive;
    text-shadow: 7px 4px 5px lawngreen;
}

.card-text {
    font-size: auto;
    text-align: center;
    font-family:'Bruno Ace SC', cursive;
}

.form-label {
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.containerS1 {
    background-color: lightgreen;
    border: 1px solid black;
    margin: 50px 20px 50px 20px;
    text-align: left;
    padding: 90px;
    font-family:'Bruno Ace SC', cursive;
}

.containerBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (186px, 1fr));
    gap: 30px;
    padding: 10px;
}

.containerBox div {
    padding: 40px;
    border: dashed 15px rgb(90, 182, 17);
    background-color: whitesmoke;
    width: 100%;   
}

.title-2{
    text-shadow: 2px 2px 2px lightgreen;
}

.img-fluid{
    border: dotted 8px greenyellow; 
    margin-right: 10px; 
}

.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgreen;
    border: 1px solid black;
    justify-content: space-evenly;
}

.footer-columns div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 60px;
}


@media screen and (max-width: 376px){
    .card-title{
        font-size: 3rem;
    }

    .containerBox {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (10px, 1fr));
        justify-content:center;
    }
    
    .containerBox div {
        padding: 40px;
        border: dashed 10px rgb(90, 182, 17);
        background-color: whitesmoke;
        align-items: center;
        width: 90%;   
    }
    
    .img-fluid{
        margin-top: 18px;
    }
}

